%section#top-header.row
  %h1.span2
    = link_to "Bisaikong"
  %ul.span4.clearfix
    %li= link_to "Races"
    %li= link_to "People"
  %form.span5.for-search(action="")
    %input.search-query(type="text" placeholder="Search for races here")
    %button.btn(type="submit") Search
  #user_links.pull-right
    %ul
      %li.dropdown
        %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
          Welcome, Philip J. Fry
          %b.caret
        %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
          %li
            %a(href="#") Account
            %a(href="#") Sign Out
